{% extends 'navbarbook.html'%}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
	

<!-- <script>
	$(function() {
  $('#dp').datepicker();
});
</script> -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

  <!DOCTYPE HTML>
{% load static%}
<html>
<head>
<title>Make Appointment</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Appointment Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static 'web/css/wickedpicker.css'%}" rel="stylesheet" type='text/css' media="all" />
<link href="{% static 'web/css/style.css'%}" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<!--//fonts-->
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <style type="text/css">

    body {
      color: white;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
    }

    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, hsl(150, 100%, 50%), #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    /* .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    } */

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      width: 18%;
      cursor: pointer;
      background:darkcyan;
      color: #fff;
	  text-align: center;
	  margin-left: 35%;
	  
    }
	.form-control{
		background-color: rgba(127, 178, 212, 0.31);
	}
	.form-control1{
		background-color: rgba(127, 178, 212, 0.31);
	}
	#messag{
		
		padding: 2%;
		width: 110%;
		
		/* margin-left: 10px; */
		border: 1px solid rgba(255, 255, 255, 0.)

	}
	#message{
		
		padding: 2%;
		width: 105%;
		
		/* margin-left: 10px; */
		border: 1px solid rgba(255, 255, 255, 0.)

	}
	
	
  </style>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  
  {% endfor %}
  
  {% endif %}

</head>
<body>
	<h1>  Appointment Form </h1>
    <div class="bg-agile">
	<div class="book-appointment">
	<h2>Welcome Utkarsh Hospital</h2>
			
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- <div class="container register-form">
		  <div class="form"> -->
			<!-- <div class="note">
			  <p>Register In Hospital</p>
			</div>
	 -->
			<div class="form-content">
			  <div class="row">
				<div class="col-md-6">
				  <div class="form-group" id="messag">
					<p>Patient Name*</p>
					{% render_field form.patient_name class="form-control" placeholder="Enter The Patient Name" %}
				  </div>
				  

				<div class="form-group" id="messag">
					<p>Address*</p>
				  {% render_field form.address class="form-control" placeholder=" Enter The Address" %}
				</div>

				  <div class="form-group" id="messag">
					  <p>Appointment Date*</p>
					{% render_field form.date class="form-control" placeholder="  mm/dd/yyyy" %}
				  </div>

				  <script>
					$(function () {
					  $("#id_date").datepicker();
					});
				  </script>


				  <div class="form-group" id="message">
					<p>Select Gender*</p>
				  {% render_field form.gender required="required" class="form-control" placeholder="select Gender" %}
				</div>


				  <div class="form-group" id="message">
					<p>Appointment Status*</p>
				  {% render_field form.select required="required" class="form-control" placeholder="Select Appointment Status" %}
				</div>
				  
				 
				  
				</div>

				



				<div class="col-md-6">

					<div class="form-group" id="messag">
						<p>E-mail*</p>
					  {% render_field form.email class="form-control" placeholder="Enter The Email" %}
					</div>
	
					<div class="form-group" id="messag">
						<p>Phone Number*</p>
					  {% render_field form.mobile class="form-control" placeholder="Enter The Phone Number" %}
					</div>
					

				  <div class="form-group" id="message">
					  <p>Select Department*</p>
					{% render_field form.department class="form-control" placeholder="Select Department" %}
				  </div>

				  <div class="form-group" id="message">
					<p>Select Doctor*</p>
				  {% render_field form.doctor class="form-control" placeholder="Select Doctor" %}
				</div>
				<div class="col-sm-12" id="messag">
				<p>Message*</p>
					
					{% render_field form.message class="form-control"  placeholder="Enter The Message" %}
				  </div>

			</div>


				<!-- <div class="col-sm-12" id="messag"> -->
					

				  
			  
			  <br>
			  <br>
			
			  <div>
			  <button type="submit" class="btnSubmit">Apply</button>
			</div>
			  <br>
			  <br>
			  <br>
			
			  <!-- <div class="text-center" style="margin-top:10px;"><strong style="color: white;">Already have an account? </strong><a href="{% url 'user_login'%}"><strong>Login Here</strong></a></div> -->
			</div>
		  </div>
		</div>
	
	  </form>
<!-- 	
		</div>
   </div> -->
   
		<script type="text/javascript" src="{% static 'web/js/jquery-2.1.4.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'web/js/wickedpicker.js'%}"></script>
			<script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
			</script>
		<!-- Calendar -->
				<link rel="stylesheet" href="{% static 'web/css/jquery-ui.css'%}" />
				<script src="{% static 'web/js/jquery-ui.js'%}"></script>
				  <!-- <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script> -->
			<!-- //Calendar -->

</body>
</html>

	 
  </div>
  <br>
	</div>

<script src="{% static 'sidebar-10/js/jquery.min.js'%}"></script>
<script src="{% static 'sidebar-10/js/popper.js'%}"></script>
<script src="{% static 'sidebar-10/js/bootstrap.min.js'%}"></script>
<script src="{% static 'sidebar-10/js/main.js'%}"></script>




</body>
</html>
<br>


{% include 'footer.html' %}

{% endblock %}